
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BankAccount</title>
    <p>@Model.name @Model.balance.00 Zebra @Model.animalType</p>
</head>
<body>
</body>
</html>
