
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <p>@Model.number</p>
    <form action="Same" method="post">
        <input type="submit" value="Káunt plíííz!">
    </form>
</body>
</html>