@model Elso.Models.HellosGreeting
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <ul>
        @foreach (var hello in Model.hellos)
        {
            Random fontsize = new Random();
            int random = fontsize.Next(4, 24);
            int randomColor = fontsize.Next(0, 8);
            <li>
                <font size="@random">
                    <font color="@Model.colors[randomColor]">
                        @hello
                    </font>
            </li>
        }
    </ul>
</body>
</html>