<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>New Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
        h1 {font-family: Algerian}
    </style>
</head>
<body>
    <h1 class="text-center">Submit a new post!!!</h1>
    <form class="text-center" action="add" method="post">
        <input type="text" placeholder="Title" name="title" />
        <input type="text" placeholder="Description" name="content" />
        <input type="text" placeholder="URL" name="link" />
        <input class="btn btn-success" type="submit" value="Post">
    </form>
</body>
</html>