<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <style>
        h1 {
            font-size: 60px;
            font-family: Algerian
        }
        h2 {
            font-family: 'Bernard MT'
        }
        .table  {
            text-align: center;
        }
        table, th, td {
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <h1 class="text-center">FROGGIT</h1>
    <h2 class="text-center">ONLY TALK ABOUT FROGS PLZ!!!</h2>
    <table class="table table-striped" align="center">
        <tr>
            <th>Likes</th>
            <th>Posts</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td align="center"><a href="increaselikes/@item.Id">+</a>@item.Likes<a href="decreaselikes/@item.Id">-</a></td>
                <td><a href="postcontent/@item.Id">@item.Title</a></td>
            </tr>
        }
    </table>
    <form action="create" align="center">
        <input class="btn btn-success" type="submit" value="New Post">
    </form>
</body>
</html>