<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="Check" method="post">
        <input type="text" placeholder="Első szó" name="firstWord">
        <input type="text" placeholder="Második szó" name="secondWord">
        <input type="submit" value="Lecsekkolom tesa!">
</body>
</html>