<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <style>
        body {
            background-color: green;
        }

        p, h1, form {
            text-align: center;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
</head>
<body>
    <h1>Welcome to Frog Club!</h1>
    <img src="http://www.videogamesprites.net/ChronoTrigger/Party/Frog/Frog%20Squash.gif" />
    <p>Please name your frog!</p>
    <form action="" method="post">
        <input type="text" name="givenName" />
        <input type="submit" value="Go!">
    </form>
</body>
</html>
