<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h1>Welcome to Frog Club!</h1>
    <p>Please name your frog!</p>
    <form action="" method="post">
        <input type="text" name="givenName" />
        <input type="submit" value="Go!">
    </form>
</body>
</html>
