<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <style>
        body {
            background-image: url("https://i.imgur.com/qlgoLVk.png");
            background-size: cover;
        }

        p, h1, form {
            text-align: center;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        h1 {
            font-size: 40px;
            font-family: 'Comic Sans MS';
        }
        p {
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Welcome to Frog Club!</h1>
    <img src="http://www.videogamesprites.net/ChronoTrigger/Party/Frog/Frog%20Squash.gif" />
    <p>Please name your frog!</p>
    <form action="" method="post">
        <input type="text" name="givenName" />
        <input type="submit" value="Go!">
    </form>
</body>
</html>
