
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TrickStore</title>
    <style>
        body {
            background-color: green;
        }
        p, h1, form {
            text-align: center;
            
        }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: auto;
            height: 400px;
        }
    </style>
</head>
<body>
    <h1>What to learn?</h1>
    <img src="https://i.ytimg.com/vi/s39I9BusYaM/maxresdefault.jpg"/>
    <form action="addtrick" method="get">
        <select name="i">
            @for (int i = 0; i < Model.unlearnedTricks.Count; i++)
            {
                <option value="@i">@Model.unlearnedTricks[i].description</option>

            }

        </select>
        <button type="submit">Learn it!</button>
    </form>
    <form action="nutritionstore" method="get">
        <input type="submit" value="Nutrition Store">
    </form>
    <form action="index" method="get">
        <input type="submit" value="Back to your pet!">
    </form>
</body>
</html>
