
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TrickStore</title>
</head>
<body>
    <p>Mi trikk kell teso?</p>
    <form action="nutritionstore" method="get">
        <input type="submit" value="Nutrition Store">
    </form>
    <form action="index" method="get">
        <input type="submit" value="Back to your pet!">
    </form>
</body>
</html>
